# Telegram Bot
aiogram==3.21.0

# Web frameworks
fastapi==0.111.0
uvicorn[standard]==0.23.2
flask==2.3.2

# Validación y utilidades
pydantic==2.6.2
python-dotenv==1.1.1





# Logging y utils
loguru==0.7.0
